<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <h1><a href="/">Task Board</a></h1>
    <ul>
    
          <li>Welcome, <%= user.email %></li>
          <li><a href="/logout">Log out</a></li>
          <li><a href="/taskBoard">Tasks</a></li>
          <li><a href="/taskBoard/create">Create Task</a></li>
  
    </ul>
  </nav>