<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/note.png" alt="">
  </div>
  <div class="headings">
    <a href="/"><h2>Task Board</h2></a>
    <h3>By Developers For Developers</h3>
    <a href="/taskBoard" class="btn">View Tasks</a>
  </div>
</header>


<%- include('partials/footer'); -%>